@tailwind utilities

@layer utilities
  .flex-col
    display: flex

  .flex-center
    justify-content: center
    align-items: center

  .hidden
    display: none

  .grid-center
    justify-items: center
    align-items: center

  .font-default
    font-family: 'color-emoji', Nunito Sans, PingFang SC, Hiragino Sans GB, Heiti SC, Source Han Sans SC, Source Han Sans, WenQuanYi Micro Hei, Microsoft YaHei UI, Microsoft YaHei, sans-serif !important
